body.admin {

  .alert {

    @include media-breakpoint-up(sm) {
        margin-bottom:0;
        margin-left:-$grid-gutter-width/2;
        margin-right:-$grid-gutter-width/2;
    }

    &.alert-rectangle {
      border-radius: 0;
    }

    &.alert-success {
      background-color:$brand-success;
      color: darken($brand-success, 25%);
      border-color:$brand-success;
    }

    &.alert-alert, &.alert-warning {
      background-color: $brand-warning;
      color:darken($brand-warning, 25%);
      border-color:$brand-warning;
    }

    &.alert-notice {
      background: $brand-info;
      color:#fff;
    }

    &.alert-error, &.alert-danger {
      background-color:$brand-danger;
      border-color:$brand-danger;
      color:#fff;
    }
  }
}
