body {
  color:#fff;

  @include media-breakpoint-up(sm) {
    background-color:darken($body-bg, 5%);
  }

  .site-footer {
    border-top:1px solid darken($body-bg, 3%);
    padding:15px 0;
    background: darken($body-bg, 2%);
    margin-left:-$grid-gutter-width/2;
    margin-right:-$grid-gutter-width/2;
    // padding-left:$grid-gutter-width/2;
    // padding-right:$grid-gutter-width/2;
  }
}

.main-content-container {
  background-color: $body-bg;
}

.admin-container {
  @include media-breakpoint-up(sm) {
    padding-left:0;
  }
}

//
// Header
//
//

.admin-logo {
  height:44px;
}


.alert {

  &.alert-rectangle {
    border-radius: 0;
  }

  &.alert-success {
    background-color:$brand-success;
    color: darken($brand-success, 25%);
    border-color:darken($brand-success, 25%);
  }

  &.alert-alert, &.alert-warning {
    background-color: $brand-warning;
    color:darken($brand-warning, 25%);
    border-color:darken($brand-warning, 25%);
  }

  &.alert-notice {
    background: $brand-info;
    color:#fff;
  }

  &.alert-error, &.alert-danger {
    background-color:$brand-danger;
    border-color:darken($brand-danger, 10%);
    color:#fff;
  }
}


//
// Pagination
//
//

// Aliasing kaminari classes to Bootstrap 4
.page, .next, .last, .first, .prev, .disabled {
  @extend .page-item;

  a {
    @extend .page-link;
    background-color:transparent;
    border-color:lighten($body-bg, 15%);

    &:hover {
      background-color:darken($brand-primary, 10%);
      color:#fff;
      border-color:darken($brand-primary, 10%);
    }
  }
}
